GPUCALL_CONFIG_DIR=./config
GPUCALL_STATE_DIR=./state
GPUCALL_CACHE_DIR=./cache
GPUCALL_UID=1000
GPUCALL_GID=1000
GPUCALL_API_KEYS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
GPUCALL_MODAL_APP=
GPUCALL_MODAL_FN=
GPUCALL_MODAL_STREAM_FN=
GPUCALL_RUNPOD_API_KEY=
GPUCALL_RUNPOD_ENDPOINT_ID=
